body{
    background-color: #13141b;
    color: #ffffff;
    background-image:url("images/bg-image.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.1);
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
img {
    vertical-align: middle;
    border-style: none;
}
.form-control {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 22px;
    border: none;
    border-radius: 25px;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.search-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.btn {
    border-radius: 1.5rem;
    padding: 9px 20px;
}
.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    height: 7%;
    margin-top: 19.2%;
   margin-right: 25%;
}
.search{
    text-align: center;
    margin-top:60px;
}

